.flex-2 {
    display: flex;
    flex-direction: row;
}

.hidden {
    display: none;
}

.list-item-details {
    background-color: rgba(119, 136, 153, 0.4);
    left: 50%;
    margin-left: -150px !important;
    padding: 36px;
    position: absolute;
    top: 25%;
    width: 300px;
}